/* montserrat-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat-v26-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v26-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v26-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v26-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/montserrat-v26-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/montserrat-v26-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --background-color: #0A1117;
    --headline-color: #fff;
    --login-button-color: #243241;
    --start-text-button: #10151A;
    --start-button-color: #FFCF01;
    --projects-item-color: #182632;
    --opportunities-link-color: #37424D;
    --opportunities-hover-color: #23C9DE;
    --tools-link-color: #8395A7;
    --newsletter-paragraf-color: #9AAFC3;
    --newsletter-button-color: #E2C1F9;
    --projects-text-color: #FFA800;
    --tools-button-color: #FFCF0126;
    --newsletter-background-color: #14212D;
    --newsletter-border-color: #2A3744;
    --newsletter-input-color: #3D4C5B;
    --input-background-color: #121E28;
    --podcasts-paragraf-color: #E2E2E2;
    --blur-color: #5C9DFF;
    --menu-link-hover-color: #ffc803;
    --video-link-hover-color: #3e350d;
    font-size: 62.5%
}

* {
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
}

h2 {
    color: var(--headline-color);
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.6rem;
    margin: 0 0 2rem;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    color: var(--headline-color);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 3.6rem;
}

body {
    background-color: var(--background-color);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

.header__wrapper {
    min-width: 36rem;
    margin: 1.6rem auto;
    padding: 0 1.6rem;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    transition: transform 1s ease;
}

.header__logo:focus {
    transform: scale(1.2);
}

.header__logo:hover {
    transform: scale(1.2);
}

.header__logo:active {
    transform: scale(1.1);
    transition: transform 0.1s;
}

.header__picture {
    width: 14rem;
    height: 2.3rem;
}

.header__navigation {
    display: none;
}

.header__menu-list {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header__menu-item {
    margin: 0 1.2rem;
    display: flex;
    align-items: center;
}

.header__link {
    transition: transform 0.3s, color 0.1s;
}

.header__link:focus-visible {
    transform: scale(1.1);
    color: var(--menu-link-hover-color);
}

.header__link:hover {
    transform: scale(1.1);
    color: var(--menu-link-hover-color);
}

.header__link:active {
    color: var(--tools-button-color);
}

.header__login {
    display: none;
    transition: transform 0.3s, color 0.1s, background-color 0.1s;
}

.header__login:focus-visible {
    transform: scale(1.1);
    color: var(--menu-link-hover-color);
    background-color: var(--projects-item-color);
}

.header__login:hover {
    transform: scale(1.1);
    color: var(--menu-link-hover-color);
    background-color: var(--projects-item-color);
}

.header__login:active {
    transform: scale(1);
    color: var(--projects-item-color);
    background-color: var(--menu-link-hover-color);
}

.header__menu {
    background-color: var(--background-color);
    text-align: center;
    width: 2.4rem;
    height: 2.4rem;
    border: 0cm;
    transition: transform 0.3s;
}

.header__burger-menu {
    background-color: var(--background-color);
}

.header__menu:focus {
    transform: scale(1.1);
}

.header__menu:hover {
    transform: scale(1.1);
}

.header__menu:active {
    transform: scale(1);
}

.footer {
    background-color: var(--input-background-color);
}

.footer__wrapper {
    min-width: 36rem;
    margin: 8rem auto 0;
    padding: 0 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    display: block;
    margin: 3.2rem auto 3.2rem;
    transition: transform 1s, scale 1s, rotate 1s;
}

.footer__logo:focus {
    scale: 1.5;
    rotate: -30deg;
    transform: skew(10deg, 10deg);
}

.footer__logo:hover {
    scale: 1.5;
    rotate: -30deg;
    transform: skew(10deg, 10deg);
}

.footer__logo:active {
    scale: 1.25;
    rotate: -20deg;
    transform: skew(5deg, 5deg);
    transition: transform 0.1s, scale 0.1s, rotate 0.1s;
}

.footer__menu {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__menu-link {
    color: var(--headline-color);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: normal;
    margin: 0 2rem;
    transition: transform 0.3s, color 0.1s;
}

.footer__menu-link:focus-visible {
    transform: scale(1.2);
    color: var(--menu-link-hover-color);
}

.footer__menu-link:hover {
    transform: scale(1.2);
    color: var(--menu-link-hover-color);
}

.footer__menu-link:active {
    transform: scale(1);
    color: var(--tools-button-color);
    transition: transform 0.1s, color 0.1s;
}

.footer__list {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3.2rem auto;
}

.footer__link {
    display: block;
    transition: transform 0.4s;
}

.footer__link:focus-visible {
    transform: scale(1.2);
}

.footer__link:hover {
    transform: scale(1.2);
}

.footer__link:active {
    transform: scale(1.1);
    transition: transform 0.1s;
}

.footer__icon {
    width: 4rem;
    height: 4rem;
    margin: 0 1rem;
}

@media (min-width: 416px) and (max-width: 768px) {
    .wrapper {
        max-width: 40rem;
    }
}

@media (min-width: 768px) {
    h2 {
        font-size: 3rem;
        line-height: normal;
    }

    .wrapper {
        max-width: 73.6rem;
    }

    .header__menu {
        display: none;
    }

    .header__navigation {
        display: flex;
    }

    .header__link {
        color: var(--headline-color);
        font-size: 1.4rem;
        font-weight: 600;
        line-height: normal;
    }

    .header__login {
        display: block;
        color: var(--headline-color);
        background-color: var(--login-button-color);
        font-size: 1.2rem;
        font-weight: 500;
        line-height: normal;
        border: 0cm;
        border-radius: 0.8rem;
        padding: 0.8rem 1.6rem;
        margin: 0;
    }

    .footer__wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__picture {
        width: 17rem;
        height: 2.8rem;
    }

    .footer__logo {
        margin: 4.1rem 0 4.6rem;
    }

    .footer__menu {
        width: 28rem;
    }

    .footer__menu-link {
        font-size: 1.8rem;
    }

    .footer__list {
        margin: 3.6rem 0;
        display: flex;
        gap: 1.2rem;
    }

    .footer__item {
        margin: 0;
    }

    .footer__icon {
        width: 4.4rem;
        height: 4.4rem;
        margin: 0;
    }
}

@media (min-width: 1200px) {
    h2 {
        font-size: 5.4rem;
        line-height: normal;
    }

    .wrapper {
        max-width: 114rem;
    }

    .header__menu {
        display: none;
    }

    .header__picture {
        width: 19.3rem;
        height: 3.2rem;
    }

    .header__navigation {
        display: flex;
    }

    .header__menu-item {
        margin: 0 2.2rem;
    }

    .header__link {
        color: var(--headline-color);
        font-size: 2rem;
        font-weight: 600;
        line-height: normal;
    }

    .header__login {
        display: block;
        color: var(--headline-color);
        background-color: var(--login-button-color);
        font-size: 1.8rem;
        font-weight: 500;
        line-height: normal;
        border: 0cm;
        border-radius: 1.2rem;
        padding: 1.1rem 2rem;
        margin: 0;
    }

    .footer__logo {
        margin: 6.1rem 0 6.4rem;
    }

    .footer__picture {
        width: 25.3rem;
        height: 4.2rem;
    }

    .footer__menu {
        width: 32rem;
    }

    .footer__menu-link {
        font-size: 2.2rem;
    }

    .footer__list {
        margin: 5.6rem 0;
        display: flex;
        gap: 2rem;
    }

    .footer__item {
        margin: 0;
    }

    .footer__icon {
        width: 5.6rem;
        height: 5.6rem;
    }
}