:root {
    --background-color: #0A1117;
    --headline-color: #fff;
    --start-text-button: #10151A;
    --start-button-color: #FFCF01;
    --projects-item-color: #182632;
    --opportunities-link-color: #37424D;
    --tools-link-color: #8395A7;
    --newsletter-paragraf-color: #9AAFC3;
    --newsletter-button-color: #E2C1F9;
    --projects-text-color: #FFA800;
    --tools-button-color: #FFCF0126;
    --newsletter-background-color: #14212D;
    --newsletter-border-color: #2A3744;
    --newsletter-input-color: #3D4C5B;
    --input-background-color: #121E28;
    --podcasts-paragraf-color: #E2E2E2;
    font-size: 62.5%
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h2 {
    color: var(--headline-color);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.6rem;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    color: var(--headline-color);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 3.6rem;
}

body {
    background-color: var(--background-color);
}

.header__wrapper {
    max-width: 36rem;
    margin: 1.6rem auto;
    padding: 0 1.6rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    text-decoration: none;
}

.header__menu {
    background-color: var(--background-color);
    text-align: center;
    width: 2.4rem;
    height: 2.4rem;
    border: 0cm;
}

.header__burger-menu {
    background-color: var(--background-color);
}

.task {
    display: flex;
    justify-content: center;
    color: var(--headline-color);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.6rem;
}

.mondrian__wrapper {
    max-width: 36rem;
    background: black;
    display: grid;
    grid-template-columns: 12rem 8.5rem 8.5rem auto;
    grid-template-rows: 5rem repeat(4, 6rem) 4rem;
    margin: 0 auto;
    padding: 0;
}

.mondrian__container1 {
    display: flex;
    background: red;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    margin: 0 0.3rem 0.3rem 0;
}

.mondrian__container2 {
    display: flex;
    background: yellow;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0 0.3rem 0.3rem;
}

.mondrian__container3 {
    display: flex;
    background: red;
    grid-column-start: 4;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 0 0 0.3rem 0.3rem;
}

.mondrian__container4 {
    display: flex;
    background: white;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    margin: 0.3rem;
}

.mondrian__container5 {
    display: flex;
    background: white;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    margin: 0.3rem;
}

.mondrian__container6 {
    display: flex;
    background: white;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 0.3rem 0 0.3rem 0.3rem;
}

.mondrian__container7 {
    display: flex;
    background: white;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    margin: 0.3rem 0.3rem 0.3rem 0;
}

.mondrian__container8 {
    display: flex;
    background: white;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    margin: 0.3rem;
}

.mondrian__container9 {
    display: flex;
    background: white;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
    margin: 0.3rem 0 0.3rem 0.3rem;
}

.mondrian__container10 {
    display: flex;
    background: white;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    margin: 0.3rem 0.3rem 0.3rem 0;
}

.mondrian__container11 {
    display: flex;
    background: blue;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: -1;
    margin: 0.3rem 0.3rem 0;
}

.mondrian__container12 {
    display: flex;
    background: yellow;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: -1;
    margin: 0.3rem 0 0 0.3rem;
}

.dashboard__wrapper {
    max-width: 900px;
    display: grid;
    grid-template-columns: 18.4rem 70rem;
    grid-template-rows: 48rem;
    grid-template-areas: "side charts";
    margin: 0 auto;
    padding: 0 0.8rem;
    gap: 2rem;    
}

.dashboard__side-panel {
    background: #2A3744;
    border-radius: 1rem;
    grid-area: side;
}

.dashboard__headline {
    display: block;
    color: var(--headline-color);
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6rem;
    padding: 0;
    margin: 1.5rem 0.6rem 1.5rem 2rem;
}

.dashboard__list {
    list-style-type: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard__link {
    display: block;
    color: var(--headline-color);
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6rem;
    padding: 0;
    margin: 0.6rem 0.6rem 0.6rem 2rem;
}

.dashboard__main-part {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-area: charts;
    gap: 2rem;
}

.dashboard__picture:first-child {
    display: flex;
    grid-column: span 6;
    grid-row: span 1;
}

.dashboard__picture:nth-child(2) {
    display: flex;
    grid-column: span 2;
    grid-row: span 1;
}

.dashboard__picture:nth-child(3) {
    display: flex;
    grid-column: span 2;
    grid-row: span 1;
}

.dashboard__picture:nth-child(4) {
    display: flex;
    grid-column: span 2;
    grid-row: span 1;
}

.dashboard__picture:nth-child(5) {
    display: flex;
    grid-column: span 3;
    grid-row: span 1;
}

.dashboard__picture:last-child {
    display: flex;
    grid-column: span 3;
    grid-row: span 1;
}

.dashboard__picture {
    border-radius: 1rem;
}

.galery__wrapper {
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-flow: row;
    margin: 0 auto;
    padding: 0 0.8rem;
    gap: 0.8rem;
}

.galery__card {
    display: grid;
    grid-column: span 1;
    grid-row: span 1;
    width: 100px;
}

.image {
    width: 100px;
    border-radius: 1rem;
    grid-area: 1/1/-1/-1;
}

.link {
    display: flex;
    color: var(--start-text-button);
    background-color: var(--start-button-color);
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    border: 0cm;
    border-radius: 1.2rem;
    padding: 0.2rem 0.2rem;
    margin: 4rem 1rem;
    grid-area: 1/1/-1/-1;
}

.footer {
    background-color: var(--input-background-color);
}

.footer__wrapper {
    max-width: 36rem;
    margin: 8rem auto 0;
    padding: 0 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    margin: 3.2rem auto 3.2rem;
}

.footer__menu {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__menu-link {
    color: var(--headline-color);
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 2rem;
}

.footer__list {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3.2rem auto;
}

.footer__icon {
    width: 4rem;
    height: 4rem;
    margin: 0 1rem;
}