/* montserrat-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat-v26-latin-300.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v26-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v26-latin-500.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v26-latin-600.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v26-latin-700.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-800 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-v26-latin-800.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/montserrat-v26-latin-900.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --background-color: #0A1117;
  --headline-color: #fff;
  --login-button-color: #243241;
  --start-text-button: #10151A;
  --start-button-color: #FFCF01;
  --projects-item-color: #182632;
  --opportunities-link-color: #5a6d80;
  --opportunities-hover-color: #23C9DE;
  --tools-link-color: #8395A7;
  --newsletter-paragraf-color: #9AAFC3;
  --newsletter-button-color: #E2C1F9;
  --projects-text-color: #FFA800;
  --tools-button-color: #FFCF0126;
  --newsletter-background-color: #14212D;
  --newsletter-border-color: #2A3744;
  --newsletter-input-color: #3D4C5B;
  --input-background-color: #121E28;
  --podcasts-paragraf-color: #E2E2E2;
  --blur-color: #5C9DFF;
  --menu-link-hover-color: #ffc803;
  --video-link-hover-color: #3e350d;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

::-moz-selection {
  color: var(--background-color);
  background-color: var(--blur-color);
}

::selection {
  color: var(--background-color);
  background-color: var(--blur-color);
}

a {
  text-decoration: none;
}

h1 {
  display: none;
}

h2 {
  color: var(--headline-color);
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.6rem;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  color: var(--headline-color);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3.6rem;
}

.body {
  background-color: var(--background-color);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.header__wrapper {
  min-width: 36rem;
  margin: 1.6rem auto;
  padding: 0 1.6rem;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  transition: transform 1s ease;
}

.header__logo:focus {
  transform: scale(1.2);
}

.header__logo:hover {
  transform: scale(1.2);
}

.header__logo:active {
  transform: scale(1.1);
  transition: transform 0.1s;
}

.header__picture {
  width: 14rem;
  height: 2.3rem;
}

.header__navigation {
  display: none;
}

.header__menu-list {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header__menu-item {
  margin: 0 1.2rem;
  display: flex;
  align-items: center;
}

.header__link {
  transition: transform 0.3s, color 0.1s;
}

.header__link:focus-visible {
  transform: scale(1.1);
  color: var(--menu-link-hover-color);
}

.header__link:hover {
  transform: scale(1.1);
  color: var(--menu-link-hover-color);
}

.header__link:active {
  color: var(--tools-button-color);
}

.header__login {
  display: none;
  transition: transform 0.3s, color 0.1s, background-color 0.1s;
}

.header__login:focus-visible {
  transform: scale(1.1);
  color: var(--menu-link-hover-color);
  background-color: var(--projects-item-color);
}

.header__login:hover {
  transform: scale(1.1);
  color: var(--menu-link-hover-color);
  background-color: var(--projects-item-color);
}

.header__login:active {
  transform: scale(1);
  color: var(--projects-item-color);
  background-color: var(--menu-link-hover-color);
}

.header__menu {
  background-color: var(--background-color);
  text-align: center;
  width: 2.4rem;
  height: 2.4rem;
  border: 0cm;
  transition: transform 0.3s;
}

.header__burger-menu {
  background-color: var(--background-color);
}

.header__menu:focus {
  transform: scale(1.1);
}

.header__menu:hover {
  transform: scale(1.1);
}

.header__menu:active {
  transform: scale(1);
}

.start__wrapper {
  min-width: 36rem;
  margin: 8rem auto 0;
  padding: 0 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start__headline {
  color: var(--headline-color);
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.4rem;
  margin: 0;
  width: 34rem;
}

.start__paragraf {
  color: var(--headline-color);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8rem;
  margin: 1.6rem 0 0;
  width: 34rem;
}

.start__button {
  color: var(--start-text-button);
  background-color: var(--start-button-color);
  box-shadow: 0px 7px 36px 0px rgba(255, 207, 1, 0.2);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 3rem;
  border: 0cm;
  border-radius: 1.2rem;
  padding: 0.8rem 2.8rem;
  margin: 4rem auto 0;
  transition: transform 0.4s, color 0.1s, background-color 0.1s, box-shadow 0.3s;
}

.start__button:focus-visible {
  transform: scale(1.2);
  color: var(--headline-color);
  background-color: var(--projects-text-color);
  box-shadow: 0px 10px 46px 0px rgba(255, 207, 1, 0.2);
}

.start__button:hover {
  transform: scale(1.2);
  color: var(--headline-color);
  background-color: var(--projects-text-color);
  box-shadow: 0px 10px 46px 0px rgba(255, 207, 1, 0.2);
}

.start__button:active {
  transform: scale(1.1);
  color: var(--projects-text-color);
  background-color: var(--headline-color);
  transition: transform 0.1s, color 0.1s, background-color 0.1s;
}

.projects__wrapper {
  min-width: 36rem;
  margin: 10rem auto 0;
  padding: 0 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__headline {
  margin: 0 0 2.34rem;
  width: 30rem;
}

.projects__list {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.projects__picture {
  border: 0;
  border-radius: 2.2rem;
  width: 100%;
  height: auto;
  margin: 2.4rem 0 0;
}

.projects__item {
  display: block;
  margin: 0.6rem;
  transition: transform 0.3s, color 0.1s;
}

.projects__link {
  display: block;
  background-color: var(--projects-item-color);
  border-radius: 4.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.6rem;
  padding: 1.2rem 1.4rem;
  transition: transform 0.3s, color 0.1s, background-color 0.1s;
}

.projects__link:focus-visible {
  transform: scale(1.1);
  color: var(--headline-color);
}

.projects__link:hover {
  transform: scale(1.1);
  color: var(--headline-color);
  background-color: var(--newsletter-background-color);
}

.projects__link:active {
  transform: scale(1);
  color: var(--newsletter-input-color);
}

.projects__main-link {
  background-color: var(--projects-text-color);
  color: var(--background-color);
  display: block;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2.4rem;
  padding: 0.2rem 1.2rem;
  border: 0.3rem solid var(--background-color);
  border-radius: 10rem;
  margin: 0;
  position: relative;
  top: -1.4rem;
  transition: transform 0.4s, color 0.1s, background-color 0.1s;
}

.projects__main-link:focus-visible {
  transform: scale(1.2);
  color: var(--headline-color);
  background-color: var(--start-button-color);
}

.projects__main-link:hover {
  transform: scale(1.2);
  color: var(--headline-color);
  background-color: var(--start-button-color);
}

.projects__main-link:active {
  transform: scale(1.1);
  color: var(--start-button-color);
  background-color: var(--headline-color);
}

.opportunities__wrapper {
  min-width: 36rem;
  margin: 8rem auto 0;
  padding: 0 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opportunities__headline {
  margin: 0 0 2.4rem;
}

.opportunities__list {
  list-style-type: none;
  text-align: center;
}

.opportunities__link {
  color: var(--opportunities-link-color);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.6rem;
  transition: transform 0.3s, color 0.1s;
}

.opportunities__link:focus-visible {
  transform: scale(1.1);
  color: var(--opportunities-hover-color);
}

.opportunities__link:hover {
  transform: scale(1.1);
  color: var(--opportunities-hover-color);
}

.opportunities__link:active {
  transform: scale(1);
  color: var(--headline-color);
}

.tools__wrapper {
  min-width: 36rem;
  margin: 8rem auto 0;
  padding: 0 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tools__headline {
  margin: 0 0 2.34rem;
  width: 20rem;
}

.tools__list {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.6rem;
  width: 31.2rem;
}

.tools__link {
  color: var(--tools-link-color);
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.6222rem;
  margin: 0;
  transition: transform 0.3s, color 0.1s;
}

.tools__link:focus-visible {
  transform: scale(1.2);
  color: var(--menu-link-hover-color);
}

.tools__link:hover {
  transform: scale(1.2);
  color: var(--menu-link-hover-color);
}

.tools__link:active {
  transform: scale(1.1);
  color: var(--headline-color);
}

.tools__picture {
  border-radius: 1rem;
  width: 100%;
  height: auto;
  margin: 2.6rem 0 0;
}

.tools__video-link {
  color: var(--start-button-color);
  background-color: var(--tools-button-color);
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 3.6rem;
  padding: 0.4rem 2.9rem 0.4rem 3rem;
  border-radius: 0.8rem;
  margin: 2.4rem 0 0 0;
  transition: transform 0.4s, color 0.1s, background-color 0.1s;
}

.tools__video-link:focus-visible {
  transform: scale(1.2);
  color: var(--headline-color);
  background-color: var(--video-link-hover-color);
}

.tools__video-link:hover {
  transform: scale(1.2);
  color: var(--headline-color);
  background-color: var(--video-link-hover-color);
}

.tools__video-link:active {
  transform: scale(1.1);
  color: var(--start-button-color);
  background-color: var(--tools-button-color);
}

.works__wrapper {
  min-width: 32.8rem;
  margin: 8rem auto 0;
  padding: 0 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works__headline {
  margin: 0 0 2.4rem;
}

.works__list {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.works__icon {
  display: block;
  width: 8.4rem;
  height: 8.4rem;
  border-radius: 2rem;
  border: 0.1px solid var(--newsletter-border-color);
  background-color: var(--input-background-color);
  padding: 2.4rem;
  margin: 0 1rem;
}

.works__paragraf {
  color: var(--headline-color);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.7976rem;
  margin: 1.2rem 0;
}

.help__wrapper {
  min-width: 36rem;
  margin: 8rem auto 0;
  padding: 0 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help__headline {
  margin: 0 0 2.4rem;
}

.help__list-images {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 3.2rem;
}

.help__item-image:first-child {
  flex-basis: 50%;
  display: flex;
  justify-content: end;
}

.help__item-image:nth-child(2) {
  flex-basis: 50%;
}

.help__picture {
  max-width: 7.3rem;
  border-radius: 1.6rem;
  margin: 0.5rem;
}

.help__list-texts {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.help__item {
  color: var(--headline-color);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: normal;
  margin: 0.4rem 1rem;
}

.newsletter__wrapper {
  max-width: 32.8rem;
  background-color: var(--newsletter-background-color);
  border: 0.1rem solid var(--newsletter-border-color);
  border-radius: 2.2rem;
  margin: 8rem auto 0;
  padding: 0 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 28rem;
}

.newsletter__headline {
  margin: 2.8rem 0 0.8rem;
}

.newsletter__paragraf {
  color: var(--newsletter-paragraf-color);
  text-align: center;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 2.8rem;
  margin: 0 0 2.4rem;
}

.newsletter__form-wrapper {
  width: 27.9rem;
}

.newsletter__form {
  width: 100%;
}

.newsletter__input {
  border: 1px solid var(--newsletter-border-color);
  background-color: var(--input-background-color);
  color: var(--headline-color);
  width: 100%;
  padding: 1.3rem 1.8rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.8rem;
  transition: transform 0.3s;
}

.newsletter__input::-moz-placeholder {
  color: var(--newsletter-input-color);
}

.newsletter__input::placeholder {
  color: var(--newsletter-input-color);
}

.newsletter__input:focus-visible {
  transform: scale(1.05);
}

.newsletter__input:hover {
  transform: scale(1.05);
}

.newsletter__input:active {
  transform: scale(1.05);
}

.newsletter__button {
  background-color: var(--newsletter-button-color);
  color: var(--start-text-button);
  width: 100%;
  border: 0;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.4rem;
  margin: 1.6rem 0;
  padding: 1rem 0rem;
  transition: transform 0.3s, color 0.1s, background-color 0.1s;
}

.newsletter__button:focus-visible {
  transform: scale(1.1);
  color: var(--input-background-color);
  background-color: var(--headline-color);
}

.newsletter__button:hover {
  transform: scale(1.1);
  color: var(--input-background-color);
  background-color: var(--headline-color);
}

.newsletter__button:active {
  transform: scale(1);
  color: var(--headline-color);
  background-color: var(--newsletter-border-color);
}

.partners__wrapper {
  min-width: 36rem;
  margin: 8rem auto 0;
  padding: 0 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.partners__headline {
  margin: 0 0 2.4rem;
}

.list {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1.6rem;
  margin: 0.8rem;
}

.partners__item-top {
  background-color: var(--input-background-color);
  border: 1px solid var(--newsletter-border-color);
  border-radius: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5.8rem;
}

.partners__item {
  background-color: var(--input-background-color);
  border: 1px solid var(--newsletter-border-color);
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4.5rem;
}

.press__wrapper {
  min-width: 36rem;
  margin: 8rem auto 0;
  padding: 0 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.press__list {
  list-style-type: none;
}

.press__item {
  width: 32.8rem;
  min-height: 26.2rem;
  border-radius: 2rem;
  margin: 0 auto 1.6rem;
  display: flex;
  flex-direction: column;
}

.press__item:first-child {
  background-color: #77E6FF;
}

.press__item:nth-child(2) {
  background-color: #E2C1F9;
}

.press__item:last-child {
  background-color: #DBE268;
}

.press__headline {
  margin: 0 0 2.4rem;
}

.press__icon {
  width: 19.2rem;
  min-height: 5rem;
  margin: 2rem auto 1.2rem 2rem;
}

.press__quote {
  color: var(--start-text-button);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
  width: 100%;
  margin: 0;
  padding: 0 2rem 0.8rem;
}

.press__paragraf {
  color: var(--start-text-button);
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 2.2rem;
  width: 100%;
  margin: 0;
  padding: 0 2rem 0.8rem;
  flex-grow: 1;
}

.press__link {
  display: block;
  color: var(--start-text-button);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: normal;
  margin: 0 auto 2rem 2rem;
  transition: transform 0.3s, color 0.1s;
}

.press__link:focus-visible {
  transform: scale(1.1);
  color: var(--newsletter-background-color);
}

.press__link:hover {
  transform: scale(1.1);
  color: var(--newsletter-background-color);
}

.press__link:active {
  transform: scale(1);
  color: var(--headline-color);
}

.press__main-link {
  color: var(--tools-link-color);
  text-decoration: none;
  text-shadow: 0rem 2rem 25rem rgba(0, 0, 0, 0.6);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3.2rem;
  margin: 2.4rem 0 0;
  transition: transform 0.3s, color 0.1s;
}

.press__main-link:focus-visible {
  transform: scale(1.1);
  color: var(--opportunities-hover-color);
}

.press__main-link:hover {
  transform: scale(1.1);
  color: var(--opportunities-hover-color);
}

.press__main-link:active {
  transform: scale(1);
  color: var(--headline-color);
}

.podcasts__wrapper {
  min-width: 36rem;
  margin: 8rem auto 0;
  padding: 0 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.podcasts__headline {
  margin: 0 0 2.4rem;
}

.podcasts__list {
  list-style-type: none;
}

.podcasts__item {
  background-color: var(--input-background-color);
  display: flex;
  flex-direction: column;
  width: 32.8rem;
  min-height: 23.6rem;
  border-radius: 2rem;
  border: 0.2rem solid #2A3744;
  margin: 0 auto 1.6rem;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.podcasts__picture {
  width: 4rem;
  height: 4rem;
  margin: 2.4rem auto 1.6rem 2rem;
  border-radius: 0.8rem;
}

.podcasts__quote {
  color: var(--headline-color);
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 2.4rem;
  margin: 0 2rem 1.2rem;
}

.podcasts__paragraf-title {
  color: var(--podcasts-paragraf-color);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.4rem;
  margin: 0 2rem;
}

.podcasts__paragraf-author {
  color: var(--podcasts-paragraf-color);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.4rem;
  margin: 0 4rem 1.7rem 2rem;
  flex-grow: 1;
}

.podcasts__link {
  display: block;
  color: var(--headline-color);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: normal;
  display: block;
  margin: 0 auto 2rem 2rem;
  transition: transform 0.3s, color 0.1s;
}

.podcasts__link:focus-visible {
  transform: scale(1.1);
  color: var(--opportunities-hover-color);
}

.podcasts__link:hover {
  transform: scale(1.1);
  color: var(--opportunities-hover-color);
}

.podcasts__link:active {
  transform: scale(1);
  color: var(--headline-color);
  transition: transform 0.1s, color 0.1s;
}

.podcasts__main-link {
  color: var(--tools-link-color);
  text-decoration: none;
  text-shadow: 0rem 2rem 25rem rgba(0, 0, 0, 0.6);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3.2rem;
  margin: 2.4rem 0 0;
  transition: transform 0.3s, color 0.1s;
}

.podcasts__main-link:focus-visible {
  transform: scale(1.1);
  color: var(--opportunities-hover-color);
}

.podcasts__main-link:hover {
  transform: scale(1.1);
  color: var(--opportunities-hover-color);
}

.podcasts__main-link:active {
  transform: scale(1);
  color: var(--headline-color);
  transition: transform 0.1s, color 0.1s;
}

.footer {
  background-color: var(--input-background-color);
}

.footer__wrapper {
  min-width: 36rem;
  margin: 8rem auto 0;
  padding: 0 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  margin: 3.2rem auto;
  transition: transform 1s ease;
}

.footer__logo:focus {
  transform: scale(1.2);
}

.footer__logo:hover {
  transform: scale(1.2);
}

.footer__logo:active {
  transform: scale(1.1);
  transition: transform 0.1s;
}

.footer__menu {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 26rem;
}

.footer__menu-item {
  margin: 0.5rem 2rem;
}

.footer__menu-link {
  display: block;
  color: var(--headline-color);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: normal;
  transition: transform 0.3s, color 0.1s;
}

.footer__menu-link:focus-visible {
  transform: scale(1.2);
  color: var(--menu-link-hover-color);
}

.footer__menu-link:hover {
  transform: scale(1.2);
  color: var(--menu-link-hover-color);
}

.footer__menu-link:active {
  transform: scale(1);
  color: var(--tools-button-color);
  transition: transform 0.1s, color 0.1s;
}

.footer__list {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3.2rem auto;
}

.footer__item {
  margin: 0 1rem;
}

.footer__link {
  display: block;
  transition: transform 0.4s;
}

.footer__link:focus-visible {
  transform: scale(1.2);
}

.footer__link:hover {
  transform: scale(1.2);
}

.footer__link:active {
  transform: scale(1.1);
  transition: transform 0.1s;
}

.footer__icon {
  width: 4rem;
  height: 4rem;
}

@media (min-width: 416px) and (max-width: 768px) {
  .wrapper {
    max-width: 40rem;
  }
  .start__headline {
    width: 31.4rem;
  }
  .start__paragraf {
    width: 31.4rem;
  }
  .projects__headline {
    width: 32.8rem;
  }
  .tools__headline {
    width: 40rem;
  }
  .tools__list {
    width: 31.2rem;
  }
  .help__list-images {
    min-width: 40rem;
    gap: 0.8rem;
    margin: 0 0 2.4rem;
  }
  .help__item-image:first-child {
    flex-basis: 0%;
  }
  .help__item-image:nth-child(2) {
    flex-basis: 0%;
  }
  .help__picture {
    margin: 0;
  }
  .newsletter__form-wrapper {
    width: 35.1rem;
  }
  .press__item {
    width: 40rem;
    min-height: 23.8rem;
  }
  .podcasts__item {
    width: 40rem;
    min-height: 21.2rem;
  }
}
@media (min-width: 768px) {
  h2 {
    font-size: 3.6rem;
    line-height: normal;
  }
  .header__wrapper {
    max-width: 73.6rem;
    margin: 3rem auto;
  }
  .header__menu {
    display: none;
  }
  .header__navigation {
    display: flex;
  }
  .header__link {
    color: var(--headline-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: normal;
  }
  .header__login {
    display: block;
    color: var(--headline-color);
    background-color: var(--login-button-color);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: normal;
    border: 0cm;
    border-radius: 0.8rem;
    padding: 0.8rem 1.6rem;
    margin: 0;
  }
  .start__wrapper {
    position: relative;
    max-width: 73.6rem;
    margin: 7rem auto 0;
  }
  .start__headline {
    width: 45.4rem;
    font-size: 5.2rem;
    line-height: 6rem;
  }
  .start__paragraf {
    width: 49.9rem;
    font-size: 2rem;
    line-height: 3.4rem;
  }
  .start__button {
    font-size: 1.7rem;
    padding: 1.3rem 3.7rem;
  }
  .start__blur {
    position: absolute;
    top: 120px;
    width: 252px;
    height: 75px;
    border-radius: 252px;
    background-color: var(--blur-color);
    filter: blur(200px);
  }
  .projects__wrapper {
    max-width: 73.6rem;
    margin: 13.7rem auto 0;
  }
  .projects__headline {
    width: 73.6rem;
  }
  .projects__list {
    min-width: 73.6rem;
    gap: 1.2rem;
  }
  .projects__item {
    margin: 0;
  }
  .projects__link {
    font-size: 1.6rem;
    line-height: 3.2rem;
    padding: 0.8rem 2.4rem;
  }
  .projects__picture {
    border-radius: 2rem;
  }
  .projects__main-link {
    font-size: 1.6rem;
    line-height: 3.2rem;
    padding: 0.2rem 2rem;
    top: -1.8rem;
  }
  .opportunities__wrapper {
    max-width: 73.6rem;
    margin: 10rem auto 0;
  }
  .opportunities__link {
    font-size: 3.2rem;
    line-height: 5rem;
  }
  .tools__wrapper {
    max-width: 73.6rem;
    margin: 10rem auto 0;
  }
  .tools__headline {
    width: 50rem;
  }
  .tools__list {
    width: 73.6rem;
    gap: 2.7rem;
  }
  .tools__link {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
  .tools__picture {
    border-radius: 2rem;
  }
  .tools__video-link {
    font-size: 1.7rem;
    line-height: 3.6rem;
    padding: 1rem 4.4rem;
  }
  .works__wrapper {
    max-width: 73.6rem;
    margin: 10rem auto 0;
  }
  .works__icon {
    display: block;
    width: 10rem;
    height: 10rem;
    border-radius: 24px;
    border-width: 2px;
    padding: 2.4rem;
  }
  .works__paragraf {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
  .help__wrapper {
    max-width: 73.6rem;
    margin: 10rem auto 0;
  }
  .help__list-images {
    gap: 1.6rem;
    margin: 0 0 4.8rem;
  }
  .help__item-image {
    max-width: 11.2rem;
    border-radius: 2.4rem;
  }
  .help__item-image:first-child {
    flex-basis: 0%;
  }
  .help__item-image:nth-child(2) {
    flex-basis: 0%;
  }
  .help__item {
    font-size: 3.2rem;
    line-height: normal;
    margin: 1rem 1.6rem;
  }
  .newsletter__wrapper {
    border-width: 2px;
    max-width: 73.6rem;
    margin: 10rem auto 0;
  }
  .newsletter__paragraf {
    font-size: 2.8rem;
    line-height: 4rem;
    margin: 0 0 4.8rem;
  }
  .newsletter__form {
    display: flex;
    flex-direction: row;
    width: 52rem;
    margin: 0 0 4.8rem;
    padding: 0;
    gap: 2.4rem;
  }
  .newsletter__input {
    width: 32.4rem;
    font-size: 2rem;
    line-height: normal;
    border-radius: 1.6rem;
    padding: 1.8rem 2.4rem;
  }
  .newsletter__button {
    width: 16.7rem;
    margin: 0;
    font-size: 2rem;
    line-height: 3.6rem;
    border-radius: 1.6rem;
  }
  .press__wrapper {
    display: grid;
    grid-template: 45px 1fr/1fr 1fr;
    min-height: 408px;
    max-width: 73.6rem;
    margin: 10rem auto 0;
  }
  .press__headline {
    grid-area: 1/1/2/2;
    margin: 0;
    justify-self: start;
  }
  .press__list {
    display: flex;
    grid-area: 2/1/-1/-1;
    gap: 2rem;
    margin: 2.8rem 0 0;
  }
  .press__item {
    width: 23.2rem;
    min-height: 33.5rem;
  }
  .press__link {
    font-size: 1.2rem;
    margin: 0 auto 2rem 2rem;
  }
  .press__main-link {
    margin: 0;
    justify-self: end;
  }
  .podcasts__wrapper {
    display: grid;
    grid-template: 45px 1fr/1fr 1fr;
    min-height: 357px;
    max-width: 73.6rem;
    margin: 10rem auto 0;
  }
  .podcasts__headline {
    grid-area: 1/1/2/2;
    margin: 0;
    justify-self: start;
  }
  .podcasts__list {
    display: flex;
    grid-area: 2/1/-1/-1;
    gap: 2rem;
    margin: 2.8rem 0 0;
  }
  .podcasts__item {
    width: 23.2rem;
    min-height: 28.4rem;
  }
  .podcasts__link {
    font-size: 1.2rem;
    margin: 0 auto 2rem 2rem;
  }
  .podcasts__main-link {
    margin: 0;
    justify-self: end;
  }
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    max-width: 73.6rem;
    margin: 22rem auto 0;
  }
  .footer__picture {
    width: 17rem;
    height: 2.8rem;
  }
  .footer__logo {
    margin: 4.1rem 0 4.6rem;
  }
  .footer__menu {
    width: 28rem;
  }
  .footer__menu-link {
    font-size: 1.8rem;
  }
  .footer__list {
    margin: 3.6rem 0;
    display: flex;
    gap: 1.2rem;
  }
  .footer__item {
    margin: 0;
  }
  .footer__icon {
    width: 4.4rem;
    height: 4.4rem;
  }
}
@media (min-width: 1200px) {
  h2 {
    font-size: 5.4rem;
    line-height: normal;
  }
  .header__wrapper {
    max-width: 114rem;
    margin: 3.4rem auto;
  }
  .header__menu {
    display: none;
  }
  .header__picture {
    width: 19.3rem;
    height: 3.2rem;
  }
  .header__navigation {
    display: flex;
  }
  .header__menu-item {
    margin: 0 2.2rem;
  }
  .header__link {
    color: var(--headline-color);
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
  }
  .header__login {
    display: block;
    color: var(--headline-color);
    background-color: var(--login-button-color);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
    border: 0cm;
    border-radius: 1.2rem;
    padding: 1.1rem 2rem;
    margin: 0;
  }
  .start__wrapper {
    max-width: 114rem;
    position: relative;
    margin: 13rem auto 0;
  }
  .start__headline {
    width: 64.2rem;
    font-size: 7.2rem;
    line-height: 8.2rem;
  }
  .start__paragraf {
    width: 64.9rem;
    font-size: 2.6rem;
    line-height: 4.6rem;
  }
  .start__button {
    font-size: 2rem;
    line-height: 3.6rem;
    padding: 1.6rem 4.8rem;
    box-shadow: 0px 9px 44px 0px rgba(255, 207, 1, 0.2);
  }
  .start__blur {
    position: absolute;
    top: 65px;
    width: 388px;
    height: 131px;
    border-radius: 388px;
    background-color: var(--blur-color);
    filter: blur(332px);
  }
  .projects__wrapper {
    max-width: 114rem;
    position: relative;
    margin: 20rem auto 0;
  }
  .projects__headline {
    width: 73.6rem;
  }
  .projects__list {
    width: 100rem;
    gap: 2.4rem;
  }
  .projects__link {
    font-size: 2rem;
    line-height: 4rem;
    padding: 0.8rem 2.6rem;
  }
  .projects__picture {
    border-radius: 2.9rem;
  }
  .projects__main-link {
    font-size: 1.8rem;
    line-height: 3.2rem;
    padding: 0.6rem 2.4rem;
    top: -2.5rem;
  }
  .projects__blur {
    position: absolute;
    top: 400px;
    width: 388px;
    height: 131px;
    border-radius: 388px;
    background-color: var(--blur-color);
    filter: blur(332px);
  }
  .opportunities__wrapper {
    max-width: 114rem;
    position: relative;
    margin: 20rem auto 0;
  }
  .opportunities__headline {
    margin: 0 0 3.4rem;
  }
  .opportunities__link {
    display: block;
    font-size: 5.4rem;
    line-height: 6.4rem;
    margin: 1rem 0;
  }
  .opportunities__blur {
    position: absolute;
    top: 150px;
    width: 636px;
    height: 41px;
    border-radius: 636px;
    background-color: var(--blur-color);
    filter: blur(332px);
  }
  .tools__wrapper {
    max-width: 114rem;
    position: relative;
    margin: 20rem auto 0;
  }
  .tools__headline {
    width: 100rem;
  }
  .tools__list {
    width: 102.4rem;
    gap: 4rem;
  }
  .tools__link {
    font-size: 2.2rem;
    line-height: 4rem;
  }
  .tools__picture {
    border-radius: 2.9rem;
  }
  .tools__video-link {
    font-size: 2rem;
    line-height: 3.6rem;
    padding: 1.6rem 5.6rem;
  }
  .tools__blur {
    position: absolute;
    top: 150px;
    width: 526px;
    height: 209px;
    border-radius: 526px;
    background-color: var(--blur-color);
    filter: blur(397px);
  }
  .works__wrapper {
    max-width: 114rem;
    position: relative;
    margin: 20rem auto 0;
  }
  .works__headline {
    margin: 0 0 4.4rem;
  }
  .works__icon {
    display: block;
    width: 16rem;
    height: 16rem;
    border-radius: 40px;
    border-width: 2px;
    padding: 5.2rem;
  }
  .works__paragraf {
    font-size: 2.2rem;
    line-height: 4rem;
  }
  .works__blur {
    position: absolute;
    top: 50px;
    width: 526px;
    height: 107px;
    border-radius: 526px;
    background-color: var(--blur-color);
    filter: blur(397px);
  }
  .help__wrapper {
    max-width: 114rem;
    position: relative;
    margin: 20rem auto 0;
  }
  .help__list-images {
    gap: 2.5rem;
    margin: 0 0 4.8rem;
  }
  .help__item-image {
    max-width: 16rem;
    border-radius: 4rem;
  }
  .help__list-texts {
    width: 80rem;
  }
  .help__blur {
    position: absolute;
    top: 120px;
    opacity: 0.7;
    width: 526px;
    height: 107px;
    border-radius: 526px;
    background-color: var(--blur-color);
    filter: blur(397px);
  }
  .newsletter__wrapper {
    max-width: 114rem;
    position: relative;
    border-width: 2px;
    margin: 20rem auto 0;
  }
  .newsletter__headline {
    margin: 4.5rem 0 1rem;
  }
  .newsletter__paragraf {
    font-size: 3.6rem;
    line-height: normal;
    margin: 0 0 7.2rem;
  }
  .newsletter__form-wrapper {
    display: flex;
    flex-direction: row;
    width: 70.6rem;
    padding: 0;
    margin: 0;
    gap: 2.4rem;
  }
  .newsletter__form {
    width: 70.6rem;
  }
  .newsletter__input {
    width: 50.6rem;
    padding: 2.2rem 2.8rem;
    border-radius: 1.6rem;
  }
  .newsletter__button {
    width: 17.5rem;
    border-radius: 1.6rem;
  }
  .newsletter__blur {
    position: absolute;
    top: 150px;
    width: 526px;
    height: 75px;
    opacity: 0.7;
    border-radius: 526px;
    background-color: var(--blur-color);
    filter: blur(397px);
  }
  .partners__wrapper {
    max-width: 114rem;
    position: relative;
    margin: 20rem auto 0;
  }
  .press__wrapper {
    max-width: 114rem;
    position: relative;
    margin: 20rem auto 0;
  }
  .press__list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 4rem 0 0;
  }
  .press__item {
    width: 36.1rem;
    min-height: 38.2rem;
  }
  .press__icon {
    margin: 2rem auto 1.2rem 3rem;
  }
  .press__quote {
    font-size: 2.2rem;
    line-height: 3rem;
    padding: 0 3rem 0.8rem;
  }
  .press__paragraf {
    font-size: 1.7rem;
    line-height: 2.9rem;
    padding: 0 3rem 0.8rem;
  }
  .press__link {
    font-size: 1.6rem;
    line-height: normal;
    margin: 0 auto 3.2rem 3rem;
  }
  .press__main-link {
    font-size: 2.2rem;
    line-height: 4rem;
  }
  .press__blur {
    position: absolute;
    top: 370px;
    left: 290px;
    z-index: -1;
    width: 526px;
    height: 79px;
    opacity: 0.7;
    border-radius: 526px;
    background-color: var(--blur-color);
    filter: blur(397px);
  }
  .podcasts__wrapper {
    max-width: 114rem;
    position: relative;
    margin: 20rem auto 0;
  }
  .podcasts__list {
    display: flex;
    flex-direction: row;
    gap: 2.8rem;
    margin: 4rem 0 0;
  }
  .podcasts__item {
    width: 36.1rem;
    min-height: 33.4rem;
  }
  .podcasts__picture {
    width: 5rem;
    height: 5rem;
    margin: 2.4rem auto 1.6rem 3rem;
  }
  .podcasts__quote {
    font-size: 2rem;
    line-height: 2.8rem;
    margin: 0 3rem 1.2rem;
  }
  .podcasts__paragraf-author {
    font-size: 1.7rem;
    line-height: normal;
    margin: 0 4rem 1.7rem 3rem;
  }
  .podcasts__paragraf-title {
    font-size: 1.7rem;
    line-height: normal;
    margin: 0 3rem;
  }
  .podcasts__link {
    font-size: 1.6rem;
    line-height: normal;
    margin: 0 auto 3.2rem 3rem;
  }
  .podcasts__main-link {
    font-size: 2.2rem;
    line-height: 4rem;
  }
  .podcasts__blur {
    position: absolute;
    top: 249px;
    left: 290px;
    width: 526px;
    height: 79px;
    opacity: 0.7;
    border-radius: 526px;
    background-color: var(--blur-color);
    filter: blur(397px);
  }
  .footer__wrapper {
    max-width: 114rem;
    margin: 28.5rem auto 0;
  }
  .footer__logo {
    margin: 6.1rem 0 6.4rem;
  }
  .footer__picture {
    width: 25.3rem;
    height: 4.2rem;
  }
  .footer__menu {
    width: 32rem;
  }
  .footer__menu-link {
    font-size: 2.2rem;
  }
  .footer__list {
    margin: 5.6rem 0;
    display: flex;
    gap: 2rem;
  }
  .footer__item {
    margin: 0;
  }
  .footer__icon {
    width: 5.6rem;
    height: 5.6rem;
  }
}/*# sourceMappingURL=main.css.map */