.footer {
    background-color: var(--input-background-color);
}

.footer__wrapper {
    min-width: 36rem;
    margin: 8rem auto 0;
    padding: 0 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    margin: 3.2rem auto;
    transition: transform 1s ease;
}

.footer__logo:focus {
    transform: scale(1.2);
}

.footer__logo:hover {
    transform: scale(1.2);
}

.footer__logo:active {
    transform: scale(1.1);
    transition: transform 0.1s;
}

.footer__menu {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 26rem;
}

.footer__menu-item {
    margin: 0.5rem 2rem;
}

.footer__menu-link {
    display: block;
    color: var(--headline-color);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: normal;
    transition: transform 0.3s, color 0.1s;
}

.footer__menu-link:focus-visible {
    transform: scale(1.2);
    color: var(--menu-link-hover-color);
}

.footer__menu-link:hover {
    transform: scale(1.2);
    color: var(--menu-link-hover-color);
}

.footer__menu-link:active {
    transform: scale(1);
    color: var(--tools-button-color);
    transition: transform 0.1s, color 0.1s;
}

.footer__list {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3.2rem auto;
}

.footer__item {
    margin: 0 1rem;
}

.footer__link {
    display: block;
    transition: transform 0.4s;
}

.footer__link:focus-visible {
    transform: scale(1.2);
}

.footer__link:hover {
    transform: scale(1.2);
}

.footer__link:active {
    transform: scale(1.1);
    transition: transform 0.1s;
}

.footer__icon {
    width: 4rem;
    height: 4rem;
}