.header__wrapper {
    min-width: 36rem;
    margin: 1.6rem auto;
    padding: 0 1.6rem;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__picture {
    width: 14rem;
    height: 2.3rem;
}

.header__navigation {
    display: none;
}

.header__menu-list {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header__menu-item {
    margin: 0 1.2rem;
    display: flex;
    align-items: center;
}

.header__login {
    display: none;
}

.header__menu {
    background-color: var(--background-color);
    text-align: center;
    width: 2.4rem;
    height: 2.4rem;
    border: 0cm;
}

.header__burger-menu {
    background-color: var(--background-color);
}