.header__wrapper {
    min-width: 36rem;
    margin: 1.6rem auto;
    padding: 0 1.6rem;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    transition: transform 1s ease;
}

.header__logo:focus {
    transform: scale(1.2);
}

.header__logo:hover {
    transform: scale(1.2);
}

.header__logo:active {
    transform: scale(1.1);
    transition: transform 0.1s;
}

.header__picture {
    width: 14rem;
    height: 2.3rem;
}

.header__navigation {
    display: none;
}

.header__menu-list {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header__menu-item {
    margin: 0 1.2rem;
    display: flex;
    align-items: center;
}

.header__link {
    transition: transform 0.3s, color 0.1s;
}

.header__link:focus {
    transform: scale(1.1);
    color: var(--menu-link-hover-color);
}

.header__link:hover {
    transform: scale(1.1);
    color: var(--menu-link-hover-color);
}

.header__link:active {
    color: var(--tools-button-color);
}

.header__login {
    display: none;
    transition: transform 0.3s, color 0.1s, background-color 0.1s;
}

.header__login:focus {
    transform: scale(1.1);
    color: var(--menu-link-hover-color);
    background-color: var(--projects-item-color);
}

.header__login:hover {
    transform: scale(1.1);
    color: var(--menu-link-hover-color);
    background-color: var(--projects-item-color);
}

.header__login:active {
    transform: scale(1);
    color: var(--projects-item-color);
    background-color: var(--menu-link-hover-color);
}

.header__menu {
    background-color: var(--background-color);
    text-align: center;
    width: 2.4rem;
    height: 2.4rem;
    border: 0cm;
    transition: transform 0.3s;
}

.header__burger-menu {
    background-color: var(--background-color);
}

.header__menu:focus {
    transform: scale(1.1);
}

.header__menu:hover {
    transform: scale(1.1);
}

.header__menu:active {
    transform: scale(1);
}