.help__wrapper {
    min-width: 36rem;
    margin: 8rem auto 8rem;
    padding: 0 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help__headline {
    margin: 0 0 2.4rem;
}

.help__list-images {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.help__item-image:first-child {
    flex-basis: 50%;
    display: flex;
    justify-content: end;
}

.help__item-image:nth-child(2) {
    flex-basis: 50%;
}

.help__picture {
    border-radius: 1.6rem;
    max-width: 7.3rem;
    margin: 0.5rem;
}

.help__list-texts {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.help__item {
    color: var(--headline-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: normal;
    margin: 0.4rem 1rem;
}