.help__wrapper {
    min-width: 36rem;
    margin: 8rem auto 0;
    padding: 0 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help__headline {
    margin: 0 0 2.4rem;
}

.help__list-images {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 3.2rem;
}

.help__item-image:first-child {
    flex-basis: 50%;
    display: flex;
    justify-content: end;
}

.help__item-image:nth-child(2) {
    flex-basis: 50%;
}

.help__picture {
    max-width: 7.3rem;
    border-radius: 1.6rem;
    margin: 0.5rem;
}

.help__list-texts {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.help__item {
    color: var(--headline-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: normal;
    margin: 0.4rem 1.7rem;
    position: relative;
}

.help__item:first-child::before {
    content: '';
    width: 15px;
    height: 15px;
    background-image: url(/images/help1.svg);
    position: absolute;
    bottom: 4px;
    left: 185px;
}

.help__item:nth-child(3)::before {
    content: '';
    width: 16px;
    height: 16px;
    background-image: url(/images/help2.svg);
    position: absolute;
    bottom: 4px;
    left: 134px;
}

.help__item:nth-child(5)::before {
    content: '';
    width: 16px;
    height: 16px;
    background-image: url(/images/help3.svg);
    position: absolute;
    bottom: 4px;
    left: 107px;
}

.help__item:nth-child(8)::before {
    content: '';
    width: 16px;
    height: 16px;
    background-image: url(/images/help4.svg);
    position: absolute;
    bottom: 4px;
    left: 104px;
}