.newsletter__wrapper {
    max-width: 32.8rem;
    background-color: var(--newsletter-background-color);
    border: 0.1rem solid var(--newsletter-border-color);
    border-radius: 2.2rem;
    margin: 8rem auto 0;
    padding: 0 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 28rem;
}

.newsletter__headline {
    margin: 2.8rem 0 0.8rem;
}

.newsletter__paragraf {
    color: var(--newsletter-paragraf-color);
    text-align: center;
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 2.8rem;
    margin: 0 0 2.4rem;
}

.newsletter__form-wrapper {
    width: 27.9rem;
}

.newsletter__form {
    width: 100%;
}

.newsletter__input {
    border: 0.1rem solid var(--newsletter-border-color);
    background-color: var(--input-background-color);
    color: var(--newsletter-input-color);
    width: 100%;
    padding: 1.3rem 1.8rem;
    border-radius: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
}

.newsletter__button {
    background-color: var(--newsletter-button-color);
    color: var(--start-text-button);
    width: 100%;
    border: 0;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.4rem;
    margin: 1.6rem 0;
    padding: 1rem 0rem;
}