.podcasts__wrapper {
    min-width: 36rem;
    margin: 8rem auto 0;
    padding: 0 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.podcasts__headline {
    margin: 0 0 2.4rem;
}

.podcasts__list {
    list-style-type: none;
}

.podcasts__item {
    background-color: var(--input-background-color);
    display: flex;
    flex-direction: column;
    width: 32.8rem;
    min-height: 23.6rem;
    border-radius: 2rem;
    border: 0.2rem solid #2A3744;
    margin: 0 auto 1.6rem;
    backdrop-filter: blur(2px);
}

.podcasts__picture {
    width: 4rem;
    height: 4rem;
    margin: 2.4rem auto 1.6rem 2rem;
    border-radius: 0.8rem;
}

.podcasts__quote {
    color: var(--headline-color);
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 2.4rem;
    margin: 0 2rem 1.2rem;
}

.podcasts__paragraf-title {
    color: var(--podcasts-paragraf-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.4rem;
    margin: 0 2rem;
}

.podcasts__paragraf-author {
    color: var(--podcasts-paragraf-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.4rem;
    margin: 0 4rem 1.7rem 2rem;
    flex-grow: 1;
}

.podcasts__link {
    display: block;
    color: var(--headline-color);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
    display: block;
    margin: 0 auto 2rem 2rem;
}

.podcasts__main-link {
    color: var(--tools-link-color);
    text-decoration: none;
    text-shadow: 0rem 2rem 25rem rgba(0, 0, 0, 0.60);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3.2rem;
    margin: 2.4rem 0 0;
}