.press__wrapper {
    min-width: 36rem;
    margin: 8rem auto 0;
    padding: 0 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.press__list {
    list-style-type: none;
}

.press__item {
    width: 32.8rem;
    min-height: 26.2rem;
    border-radius: 2rem;
    margin: 0 auto 1.6rem;
    display: flex;
    flex-direction: column;
}

.press__item:first-child {
    background-color: #77E6FF;
}

.press__item:nth-child(2) {
    background-color: #E2C1F9;
}

.press__item:last-child {
    background-color: #DBE268;
}

.press__headline {
    margin: 0 0 2.4rem;
    position: relative;
}

.press__headline::before {
    content: '';
    width: 32px;
    height: 33px;
    background-image: url(/images/press.svg);
    position: absolute;
    left: 80px;
    bottom: 20px;
}

.press__icon {
    width: 19.2rem;
    min-height: 5rem;
    margin: 2rem auto 1.2rem 2rem;
}

.press__quote {
    color: var(--start-text-button);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
    width: 100%;
    margin: 0;
    padding: 0 2rem 0.8rem;
}

.press__paragraf {
    color: var(--start-text-button);
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2.2rem;
    width: 100%;
    margin: 0;
    padding: 0 2rem 0.8rem;
    flex-grow: 1;
}

.press__link {
    display: block;
    color: var(--start-text-button);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: normal;
    margin: 0 auto 2rem 2rem;
    transition: transform 0.3s, color 0.1s;
    position: relative;
}

.press__link:focus-visible {
    transform: scale(1.1);
    color: var(--newsletter-background-color);
}

.press__link:hover {
    transform: scale(1.1);
    color: var(--newsletter-background-color);
}

.press__link:active {
    transform: scale(1);
    color: var(--headline-color);
}

.press__link::after {
    content: '';
    width: 11px;
    height: 10px;
    background-image: url(/images/blackarrow.svg);
    position: absolute;
    left: 46px;
    bottom: 3.5px;
}

.press__main-link {
    color: var(--tools-link-color);
    text-decoration: none;
    text-shadow: 0rem 2rem 25rem rgba(0, 0, 0, 0.60);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3.2rem;
    margin: 2.4rem 0 0;
    transition: transform 0.3s, color 0.1s;
    position: relative;
}

.press__main-link:focus-visible {
    transform: scale(1.1);
    color: var(--opportunities-hover-color);
}

.press__main-link:hover {
    transform: scale(1.1);
    color: var(--opportunities-hover-color);
}

.press__main-link:active {
    transform: scale(1);
    color: var(--headline-color);
}

.press__main-link::after {
    content: '';
    width: 13px;
    height: 12px;
    background-image: url(/images/mainarrow.svg);
    position: absolute;
    left: 72px;
    bottom: 10px;
}