.projects__wrapper {
    min-width: 36rem;
    margin: 10rem auto 0;
    padding: 0 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects__headline {
    margin: 0 0 2.34rem;
    width: 30rem;
    position: relative;
}

.projects__headline::before {
    content: '';
    width: 38px;
    height: 38.5px;
    background-image: url(/images/projects.svg);
    position: absolute;
    bottom: 60px;
    right: 275px;
}

.projects__list {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.projects__picture {
    border: 0;
    border-radius: 2.2rem;
    width: 100%;
    height: auto;
    margin: 2.4rem 0 0;
}

.projects__item {
    display: block;
    margin: 0.6rem;
    transition: transform 0.3s, color 0.1s;
}

.projects__link {
    display: block;
    background-color: var(--projects-item-color);
    border-radius: 4.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.6rem;
    padding: 1.2rem 1.4rem;
    transition: transform 0.3s, color 0.1s, background-color 0.1s;
}

.projects__link:focus-visible {
    transform: scale(1.1);
    color: var(--headline-color);
}

.projects__link:hover {
    transform: scale(1.1);
    color: var(--headline-color);
    background-color: var(--newsletter-background-color);
}

.projects__link:active {
    transform: scale(1);
    color: var(--newsletter-input-color);
}

.projects__main-link {
    background-color: var(--projects-text-color);
    color: var(--background-color);
    display: block;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2.4rem;
    padding: 0.2rem 1.2rem;
    border: 0.3rem solid var(--background-color);
    border-radius: 10rem;
    margin: 0;
    position: relative;
    top: -1.4rem;
    transition: transform 0.4s, color 0.1s, background-color 0.1s;
}

.projects__main-link:focus-visible {
    transform: scale(1.2);
    color: var(--headline-color);
    background-color: var(--start-button-color);
}

.projects__main-link:hover {
    transform: scale(1.2);
    color: var(--headline-color);
    background-color: var(--start-button-color);
}

.projects__main-link:active {
    transform: scale(1.1);
    color: var(--start-button-color);
    background-color: var(--headline-color);
}