.works__wrapper {
    min-width: 32.8rem;
    margin: 8rem auto;
    padding: 0 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works__headline {
    margin: 0 0 2.4rem;
}

.works__list {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.works__icon {
    display: block;
    width: 8.4rem;
    height: 8.4rem;
    border-radius: 2rem;
    border: 0.1px solid var(--newsletter-border-color);
    background-color: var(--input-background-color);
    padding: 2.4rem;
    margin: 0 1rem;
}

.works__paragraf {
    color: var(--headline-color);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.7976rem;
    margin: 1.2rem 0;
}